
<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxFlex="75%">
      <h2 class="title" style="text-align: center;">Topplistor</h2>
      <h3 class="subtitle">Filmer</h3>
    </div>
</div>

<div fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
  <div fxFlex="75%">

    <mat-card class="dashboard-card">
      <a [routerLink]="['/movie',1,'details']"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 1</strong></mat-card-title>
        <mat-card-subtitle>1971</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>

    <mat-card class="dashboard-card">
      <a [routerLink]="['/movie',2,'details']"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 2</strong></mat-card-title>
        <mat-card-subtitle>1972</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>

    <mat-card class="dashboard-card">
      <a [routerLink]="['/movie',3,'details']"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 3</strong></mat-card-title>
        <mat-card-subtitle>1973</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>

    <mat-card class="dashboard-card">
      <a [routerLink]="['/movie',4,'details']"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 4</strong></mat-card-title>
        <mat-card-subtitle>1974</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>

    <mat-card class="dashboard-card">
      <a [routerLink]="['/movie',5,'details']"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 5</strong></mat-card-title>
        <mat-card-subtitle>1975</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
</div>

<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxFlex="75%">
      <h3 class="subtitle">TV-serier</h3>
    </div>
</div>

<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
    <div fxFlex="75%">
      <h3 class="subtitle">Spel</h3>
    </div>
</div>
