<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.1%" fxLayoutAlign="center">
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <!-- TODO: Visa en bild på 1-14 betyg här - Googla bilder -->
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="14%">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <img mat-card-avatar src="https://picsum.photos/200/200/?random">
        <mat-card-title>Gudfadern</mat-card-title>
        <mat-card-subtitle>1978</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
      <mat-card-content>
        <p>
          En av världens bästa filmer om inte den bästa. Spännande, intressant, verklighetstrogen, osv.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VISA</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
