<div fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" fxLayoutAlign="center">
  <div fxFlex="15%">
    <mat-card class="dashboard-card">
      <a href="#"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 1</strong></mat-card-title>
        <mat-card-subtitle>1971</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
  <div fxFlex="15%">
    <mat-card class="dashboard-card">
      <a href="#"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 2</strong></mat-card-title>
        <mat-card-subtitle>1972</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
  <div fxFlex="15%">
    <mat-card class="dashboard-card">
      <a href="#"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 3</strong></mat-card-title>
        <mat-card-subtitle>1973</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
  <div fxFlex="15%">
    <mat-card class="dashboard-card">
      <a href="#"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 4</strong></mat-card-title>
        <mat-card-subtitle>1974</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
  <div fxFlex="15%">
    <mat-card class="dashboard-card">
      <a href="#"></a>
      <mat-card-header>
        <mat-card-title><strong>Gudfadern 5</strong></mat-card-title>
        <mat-card-subtitle>1975</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://picsum.photos/800/600/?random">
    </mat-card>
  </div>
</div>
