
<mat-toolbar color="primary">
  <span>
    <a routerLink="/dashboard"><img class="toolbar-logo" src="/src/assets/images/menu_black.png" /></a>
  </span>

  <span class="toolbar-fill-remaining-space" fxHide.gt-xs></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-xs>
    <a mat-button routerLink="/movies"><mat-icon>movie</mat-icon> FILMER</a>
    <a mat-button routerLink="/series"><mat-icon>tv</mat-icon> TV-SERIER</a>
    <a mat-button routerLink="/games"><mat-icon>games</mat-icon> SPEL</a>
  </div>

  <button mat-button [matMenuTriggerFor]="menu" fxHide="false" class="toolbar-burger" fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/movies"><mat-icon>movie</mat-icon> <span>FILMER</span></button>
</mat-menu>
