
mat-toolbar {
  position: fixed;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

mat-toolbar > span {
  margin-right: 40px;
}

.mat-toolbar-single-row {
  height: 56px;
  padding-left: 8px;
}

.toolbar-logo {
  margin-bottom: 0;
  margin-top: 8px;
}

.toolbar-more {
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;  /*This fills the remaining space, by using flexbox */
}
