
mat-form-field {
  width: 100%;
}

.mat-raised-button {
  margin-left: 25px;
}

.displayModeBtn {
  font-size: 14px;
  font-weight: 500;
}

.displayModeBtn .mat-icon {
  margin-right: 5px;
}

@media (max-width: 599px) {
  .displayModeBtn .mat-icon {
    margin-right: inherit;
  }
}
