
<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
  <div fxFlex="75%">
    <div>
      <div> <!-- Gör float right och left här ev. men css-inställning på parent-div oxå...  -->
        <h2 class="title">Filmer</h2>
      </div>
      <div>
        <mat-button-toggle-group color="primary" name="displayMode" aria-label="displayMode" value="card">
          <mat-button-toggle value="card"><mat-icon>web_asset</mat-icon> Kort</mat-button-toggle>
          <mat-button-toggle value="grid"><mat-icon>grid_on</mat-icon> Tabell</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-raised-button><mat-icon>add</mat-icon> Lägg till film</button>
      </div>
    </div>
  </div>
</div>
<div class="container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center">
  <div fxFlex="75%">
    <mat-form-field>
      <input matInput placeholder="Sök" width="100%">
    </mat-form-field>
  </div>
</div>




