
<h1 mat-dialog-title>
    FMedia
</h1>
<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item>
          Version <mat-chip-list><mat-chip class="app-version" color="primary" selected>0.1</mat-chip></mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <h4 mat-line>Utvecklad av <a target="blank" href="https://github.com/f0ppa21">f0ppa21</a></h4>
          <p mat-line class="app-copyright">Copyright © FDev 2018</p>
        </mat-list-item>
    </mat-list>
</div>


