
.mat-dialog-title {
  margin-bottom: 0;
}

.mat-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-version {
  margin-left: 15px !important;
}

.app-copyright {
  margin-top: 3px !important;
}
