
body {
  margin: 90px 0 0 0;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  overflow-y: scroll;
}

@media (max-width: 1279px) {
  body {
    margin: 75px 0 0 0;
  }
}

.container {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}

h2.title {
  font-size: 22px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}

h3.subtitle {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-card-title {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.mat-card-subtitle {
  font-size: 13px !important;
}

span.mat-button-wrapper > mat-icon.mat-icon {
  margin-right: 4px;
}

.mat-button.footer-back-link {
  padding-left: 0;
  padding-right: 8px;
  margin-top: 25px;
}

.mat-raised-button.footer-action {
  float: right;
  margin-top: 25px;
  margin-left: 10px;
}
